<manifest package="com.gun0912.tedpermission"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        >

        <activity
            android:name=".TedPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission"
            />

    </application>

</manifest>
