<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gun0912.tedpermission">

    <application>

        <activity
            android:name=".TedPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.Permission" />

        <provider
            android:name=".provider.TedPermissionProvider"
            android:authorities="${applicationId}.tedpermissionprovider"
            android:exported="false" />
    </application>

</manifest>
